SECRET_KEY=replace-me
DEBUG=1
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
MEDIA_URL=/media/
MEDIA_ROOT=/var/www/Inditech-HR/media

USE_SQLITE=0
DB_NAME=inditech_hr
DB_USER=inditech_hr
DB_PASSWORD=inditech_hr
DB_HOST=127.0.0.1
DB_PORT=3306

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SYSTEM_ADMIN_EMAILS=gkinchina@gmail.com,gopala.krishnan@inditech.co.in

AWS_EC2_HOST=
AWS_EC2_USER=ubuntu
AWS_EC2_KEY_PATH=
